
  <img src = "../assets/images/hamburger.jpg" alt="hamburger" id="logo" align="center">


<h1>Eat-Da-Burger</h1>
<div class="col-md col-md-offset-1">
<h2 class ="uneatenTitle">Burgers to eat</h2>

<ul class="uneaten">
  {{#each burgers}}
    {{#unless this.devoured}}
      <p>
        {{this.burger_name}}
      </p>
      <form action="burgers/update/{{this.id}}?_method=PUT" method="POST">
            <input type="hidden" name="devoured" value="true">
            <button type="submit" class="btn btn-default" style="background-color:black; color:yellow; padding: 15px">Eat it!</button>
          </form>
    {{/unless}}
  {{/each}}
</ul>
</div>
<h2>Burgers Eaten</h2>



<h2>Enter a burger you want to eat and hit "submit" button.</h2>
<form class="create-form">

  <div class="form-group">
    <label for="cb">Burger Name:</label>
    <input type="text"  id="cb" name="name">
  </div>


  <button type="submit">Add Burger</button>
</form>



