<img src ="../public/assets/images/hamburger.png" alt="hmburger">
<h1>Eat-Da-Burger</h1>

<h2>Cats that are not sleepy!</h2>

<ul>
  {{#each cats}}
    {{#unless sleepy}}
      {{> cats/cat-block sleep=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Cats that are sleepy!</h2>

<ul>
  {{#each cats}}
    {{#if sleepy}}
      {{> cats/cat-block sleep=false}}
    {{/if}}
  {{/each}}
</ul>

<h2>Enter a burger you want to eat and hit "submit" button.</h2>
<form class="create-form">

  <div class="form-group">
    <label for="cb">Burger Name:</label>
    <input type="text" id="cb" name="name">
  </div>

  <div class="form-group">
    <label for="devour">Devour It!</label><br>
    <input type="radio" name="devour" value="1" checked> Sleepy!<br>
    <input type="radio" name="devour" value="0"> Awake
  </div>

  <button type="submit">Add Cat</button>
</form>

 <button type="delete">Delete Cat</button>
